@model MVCUIDesigning.Models.Customer
 
    <div>
        <table border="1" width="350" align="center">
            <tr>
                <td rowspan="6" style="width:200px;height:200px">
                    <img style="width:100%;height:100%" src="" />
                </td>
                <td>Custid: @Model.Custid</td>
            </tr>
            <tr><td>Name: @Model.Name</td></tr>
            <tr><td>Account: @Model.Account</td></tr>
            <tr><td>Balance: @Model.Balance</td></tr>
            <tr><td>City: @Model.City</td></tr>
            <tr><td>Status: @Html.CheckBoxFor(C => Model.Status, new { disabled = false })</td></tr>
        </table>
    </div>
    <hr />
