@using MVCUIDesigning.Models
@*
    We use IEnumerable<Customer> because it represents a read-only
    sequence of Customer objects. Any collection that implements
    IEnumerable<Customer> (like List<Customer>, Customer[])
    can be passed to this view.
*@
@model IEnumerable<Customer>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayCustomers</title>
</head>
<body>
    @foreach (var Customer in Model)
    {
        <div>
            <table border="1" width="350" align="center">
                <tr>
                    <td rowspan="6" style="width:200px;height:200px">
                        <img style="width:100%;height:100%" src="" />
                    </td>
                    <td>Custid: @Customer.Custid</td>
                </tr>
                <tr><td>Name: @Customer.Name</td></tr>
                <tr><td>Account: @Customer.Account</td></tr>
                <tr><td>Balance: @Customer.Balance</td></tr>
                <tr><td>City: @Customer.City</td></tr>
                <tr><td>Status: @Html.CheckBoxFor(C => Customer.Status, new { disabled = false })</td></tr>
            </table>
        </div>
        <hr />
    }

</body>
</html>
